__pycache__
.env
_old
uploads
.ipynb_checkpoints
*.db
_test
Pipfile
!/data
/data/*
!/data/readme.txt
/open_webui/data/*
.webui_secret_key

# Python embeddable package
/*.pyd
/*.dll
/.gitbashrc
/get-pip.py
/LICENSE.txt
/python.cat
/*.exe
/python311.*
/Include
/Lib
/Scripts
/share
